


*{margin:0;padding:0}
body{margin:0;
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  -webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
html,body{width:100%;height:100%}

:root {
  --primary: #662f91;
  --secondary: #ff855b;
  --gray: #9CA3AF;
  --text: rgba(0, 0, 0, 0.6);
  --white: #fff;
  --cursor-color: #662f91;
}

.container{
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: 25px;
  overflow: hidden;
}

/* [data-aos][data-aos][data-aos-delay="100"].aos-animate, body[data-aos-delay="100"] [data-aos].aos-animate {
  transition-delay: .1s;
}
[data-aos=fade-up] {
  transform: translate3d(0, 100px, 0);
}

[data-aos^=fade][data-aos^=fade] {
  opacity: 0;
  transition-property: opacity, transform;
}
[data-aos][data-aos][data-aos-delay="100"], body[data-aos-delay="100"] [data-aos] {
  transition-delay: 0;
}
[data-aos][data-aos][data-aos-duration="800"], body[data-aos-duration="800"] [data-aos] {
  transition-duration: .8s;
}
[data-aos][data-aos][data-aos-easing=ease-in-sine], body[data-aos-easing=ease-in-sine] [data-aos] {
  transition-timing-function: cubic-bezier(.47,0,.745,.715);
} */